ul {
}
li a.mypageList {
	color: #5e5e5e;
	font-size: 1rem;
	width: 60%;
	margin: auto;
	margin-bottom: 20px;
}
.badge-secondary-outline {
	background: white;
	color: #6c757d;
	border: 1px solid #6c757d;
}
input[type="text"],
textarea::placeholder {
	font-size: 0.8rem;
}
